@model Schoolmanagement.BusinessLayer.ViewModels.StudentViewModel
@{
    ViewData["Title"] = "All Student";
}

<div class="card" style="width:100%; margin-top:0px;">
    <div class="card-header bg-warning text-white">
        <h3 class="text-center text-uppercase">Student Information</h3>
    </div>
</div>
<p>
    @using (Html.BeginForm("School", "AllStudent", FormMethod.Get))
    {
        <b>Search By:</b>
        <text>Student By Name  : </text> @Html.TextBox("search") <input type="submit" name="submit" value="Search" />
        @Html.ActionLink(" | Back to full List", "AllStudent", new { @class = "btn btn-primary" })
    }
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th>@Html.DisplayNameFor(m => m.DOB)</th>
            <th>@Html.DisplayNameFor(m => m.classList)</th>
            <th>@Html.DisplayNameFor(m => m.Section)</th>
            <th>@Html.DisplayNameFor(m => m.Phone)</th>
            <th>@Html.DisplayNameFor(m => m.FatherName)</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PageCount() == 0)
        {
            <tr>
                <td style="color:red;" colspan="12">
                    Records not found |
                    @Html.ActionLink("Go to all Student", "AllStudent", new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
        else
        {
            @foreach (var notice in Model.PaginatedStudent())
            {
                <tr>
                    <td>@notice.Name</td>
                    <td>@notice.DOB.ToShortDateString()</td>
                    <td>@notice.classList</td>
                    <td>@notice.Section</td>
                    <td>@notice.Phone</td>
                    <td>@notice.FatherName</td>
                </tr>
            }
        }
        </tbody>
</table>

